@{
    Layout = "~/Views/User/_UserLayout.cshtml";
    ViewData["Title"] = "Register";
}

<main class="d-flex align-items-center justify-content-center vh-100">
    <div class="border p-5 w-45">
        <h1 class="text-center mb-3">
            <i class="bi bi-journal-text"></i>
            Notes Application
        </h1>
        <h3 class="text-center mb-4">สมัครบัญชี</h3>

        <form action="/register" method="post">
            <div class="mb-3">
                <label for="Email">Email</label>
                <input class="form-control" id="Email" name="Email" type="email" placeholder="อีเมล" />
            </div>

            <div class="mb-3 position-relative">
                <label for="Password">Password</label>
                <input class="form-control pe-5" id="Password" name="Password" type="password" placeholder="รหัสผ่าน" />
                <span style="cursor: pointer; position: absolute; top: 50%; right: 12px; transform: translateY(-10%);" onclick="togglePassword()">
                    <i class="bi bi-eye fs-5" id="PasswordToggle"></i>
                </span>
            </div>

            <div class="mb-3 position-relative">
                <label for="ConfirmPassword">Confirm Password</label>
                <input class="form-control pe-5" id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="รหัสผ่าน" />
                <span style="cursor: pointer; position: absolute; top: 50%; right: 12px; transform: translateY(-10%);" onclick="toggleConfirmPassword()">
                    <i class="bi bi-eye fs-5" id="ConfirmPasswordToggle"></i>
                </span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100">สร้างบัญชี</button>
            </div>
        </form>
        <div>
            <a href="/login" class="btn btn-primary w-100">ย้อนกลับ</a>
        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });
        function togglePassword() {
            const passwordField = document.getElementById('Password');
            const passwordToggle = document.getElementById('PasswordToggle');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                passwordToggle.classList.remove('bi-eye');
                passwordToggle.classList.add('bi-eye-slash');
            } else {
                passwordField.type = 'password';
                passwordToggle.classList.remove('bi-eye-slash');
                passwordToggle.classList.add('bi-eye');
            }
        }
        function toggleConfirmPassword() {
            const confirmPasswordField = document.getElementById('ConfirmPassword');
            const confirmPasswordToggle = document.getElementById('ConfirmPasswordToggle');
            if (confirmPasswordField.type === 'password') {
                confirmPasswordField.type = 'text';
                confirmPasswordToggle.classList.remove('bi-eye');
                confirmPasswordToggle.classList.add('bi-eye-slash');
            } else {
                confirmPasswordField.type = 'password';
                confirmPasswordToggle.classList.remove('bi-eye-slash');
                confirmPasswordToggle.classList.add('bi-eye');
            }
        }
    </script>

}