@using NoteFeature_App.Models.Note

@{
    ViewData["Title"] = "Home";
}
<style>
    /* DROPZONE P'Tar border color change from e4e6e8*/
/* Upload File in Modal */
.dropzone {
    border: 2px dashed #c2c3c4 !important;
    background: #f9f9fb;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
}

    .dropzone .dz-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

        .dropzone .dz-message i {
            display: block;
            font-size: 36px;
            color: #9ca3af;
            margin-bottom: 12px;
            margin-left: auto;
            margin-right: auto;
        }

    .dropzone small {
        color: #9ca3af;
        font-size: 0.85rem;
    }

    /* กล่อง preview ให้แสดงเรียงแนวนอน และ scroll ได้ */
    .dropzone .dz-previews {
        display: flex !important;
        flex-wrap: nowrap; /* ไม่ตัดบรรทัด */
        overflow-x: auto;
        gap: 12px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .dropzone .dz-preview {
        flex: 0 0 auto; /* ไม่ให้ยืด */
        /*            display: flex !important;*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 180px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0,0,0,0.05);
        padding: 10px;
        position: relative;
    }

        .dropzone .dz-preview .dz-image {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 8px;
            background: #f1f1f1;
        }

            .dropzone .dz-preview .dz-image img,
            .dropzone .dz-preview .dz-image video {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }

    .dropzone .dz-preview {
        margin-top: 8px;
        cursor: pointer;
        color: #dc3545;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        display: block;
    }

    .dropzone .dz-remove {
        margin-top: 8px;
        cursor: pointer;
        color: #dc3545;
        font-size: 18px;
        background: none;
        border: none;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

        .dropzone .dz-remove i {
            pointer-events: none;
        }

    /* ซ่อนข้อมูลที่ไม่ต้องแสดง */
    .dropzone .dz-details,
    .dropzone .dz-progress,
    .dropzone .dz-success-mark,
    .dropzone .dz-error-mark {
        display: none !important;
    }

    .dropzone .dz-preview img,
    .dropzone .dz-preview video {
        filter: none !important;
        transition: none !important;
    }
</style>

<main>
    <div class="d-flex justify-content-between align-items-center mb-4 user-select-none">
        <h1 class="display-5 mb-0">
            <i class="bi bi-journal-text"></i>
            All Notes
        </h1>
    </div>

    <!-- filter -->
    <form method="get" action="" class="row g-3 mb-4">
        <div class="d-flex justify-content-between align-items-center">
             <div class="d-flex col gap-3 align-items-center">
                <div class="col-8 col-md-6">
                    <label for="filterSearch" class="user-select-none">Search</label>
                    <input id="filterSearch" name="filterSearch" class="form-control" type="text" placeholder="ค้นหาโดยชื่อเรื่องหรือเนื้อหา" />
                </div>

                <div>
                    <button type="button" class="btn btn-outline-secondary" style="margin-top: 24px; width: 3rem" data-bs-toggle="modal" data-bs-target="#advanceFilterModal">
                        <i class="bi bi-funnel"></i>
                    </button>
                </div>
            </div>
             @if (User.IsInRole("User") || User.IsInRole("Admin"))
        {
            <div class="d-flex gap-2 mt-3">
                <button type="button" class="btn btn-success btn-lg shadow-sm" id="openAddNoteModal" style="height:50px; width: auto;">
                    <i class="bi bi-plus-lg"></i> Add Note
                </button>
            </div> <!-- Call Modakl-->
        }
        </div>
       
        <hr />
    </form>

        <div id="noteListContainer" class="row g-4">
          <!-- Data fetch -->
        </div>
        
        <div id="noteModalContainer">
            <!-- Data fetch -->
        </div>

        <div id="addNoteContainer">
            <!-- Data fetch-->
        </div>

            <!-- Pagination template from P'TAR project -->
        <div class="">
            <div class="row mt-3">
                <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-md-start">
                    <label for="paginationPerPageSelect" class="mr-2 text-gray-700 align-self-center">Rows per page:</label>
                    <select id="paginationPerPageSelect" class="px-3 py-2 border rounded-lg" style="border-radius: 7px; margin-left: 5px;">
                        <option value="6" selected>6</option>
                        <option value="15">15</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 d-flex mt-4 mt-sm-0 mt-md-0 justify-content-center justify-content-md-end">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm d-flex align-items-center mb-0" id="pagination">
                            <!-- ปุ่มจะถูกสร้างโดย JavaScript -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    
    <!-- Advance Filter Modal-->
    <div class="modal fade" id="advanceFilterModal" tabindex="-1" aria-labelledby="advanceFilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title user-select-none" id="advanceFilterModalLabel">
                        <i class="bi bi-funnel"></i>
                        Advance Filter
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 mb-4">
                     <div class="col-md-4">
                        <label for="filterSort" class="user-select-none">Sort by</label>
                        <select id="filterSort" class="form-select" name="SortDirection">
                            <option value="CreatedAt desc" selected>Newest to oldest</option>
                            <option value="CreatedAt asc">Oldest to Newest</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="filterDateFrom" class="user-select-none">From</label>
                        <input id="filterDateFrom" name="FromDate" class="form-control" type="date" />
                    </div>

                    <div class="col-md-4">
                        <label for="filterDateTo" class="user-select-none">To</label>
                        <input id="filterDateTo" name="ToDate" class="form-control" type="date" />
                    </div>
                    </div>
                   

                    <label for="filterStatus" class="form-label user-select-none">Filter type</label>
                    <select class="form-select" id="filterStatus" name="filterStatus" multiple="multiple">
                        <option value="Edit">Edit</option>
                         <option value="Nonedit">Non-Edit</option>
                        <option value="File">File Attachment</option>
                        <option value="Nonfile">Non-File Attachment</option>
                        <option value="Pinned">Pinned</option>
                        <option value="Unpinned">Unpinned</option>
                        <option value="Timelimit">Time Limit</option>
                        <option value="Nonlimit">Non-Time Limit</option>
                        <option value="Expiredsoon">Expired Soon</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="applyAdvanceFilter">Apply</button>
                </div>
            </div>
        </div>
    </div> 
       
</main>

@section Scripts {
<!-- Script Pagination from P'TAR Project -->
<script src="~/js/pagination.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/js/note.js?ver=@DateTime.Now.Ticks.ToString()"></script>

<!-- sweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Include select 2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Dropzone CDN-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>

<script type="text/javascript">

    let selectedStatuses = [];

    $(document).ready(function () {
         // Init select2
         $('#filterStatus').select2({
                placeholder: "เลือกประเภทฟิลเตอร์",
                allowClear: true,
                width: '100%',
                dropdownParent: $('#advanceFilterModal')
            });

             // ✅ ตั้งค่า selectedStatuses ตั้งแต่แรก จากค่าใน select ที่ถูก selected
             selectedStatuses = $('#filterStatus').val() ? $('#filterStatus').val() : [];
                
             // เมื่อ select2 เปลี่ยนค่า
             $('#filterStatus').on('change', function () {
                selectedStatuses = $(this).val() ? $(this).val() : [];
                // console.log('Select2 changed, selectedStatuses:', selectedStatuses);
            });

            // เมื่อเปิด modal ให้ sync ค่าอีกครั้ง (optional)
             $('#advancedFilterModal').on('shown.bs.modal', function () {
                $('#filterStatus').val(selectedStatuses).trigger('change');
            });

        note.init();   
    });

</script>
}